.remark-slide-content {
  background-image: url('./LatinR_LOGOS-21.png'), linear-gradient(to bottom, white 90%, rgba(236, 236, 236) 100%)  ;
  background-position: 2% 98%, center ;
  background-size: 70px, cover ;
  font-size: 24pt;
  color: #000000;
  font-family: Sans-Serif;
}

.remark-slide-content h1 {
  color: #5542FF;
  font-weight: bold;
  font-size: 34pt;
  font-family: Sans-Serif;
}

.remark-slide-content h2{
  color: #5542FF;
  font-weight: bold;
  font-size: 32pt;
  font-family: Sans-Serif;
}

.remark-slide-content h3 {
  color: #5542FF;
  font-weight: bold;
  font-size: 30pt;
  font-family: Sans-Serif;
}


.title-slide {
  background-image: url('./LatinR_LOGOS-23.png'), linear-gradient(to bottom, #ECECEC 1%, rgba(236, 236, 236) 20%)  ;
  background-position: 3% 3%, 100% 100% ;
  background-size: 250px, 100% 81% ;
  font-family: Sans-Serif;
}

.title-slide h1 {
  color: #000000;
  font-weight: bold;
  font-size: 34pt;
  margin-top: 16%;
  font-family: Sans-Serif;
}

.title-slide h2 {
  font-weight: normal;
  color: #000000;
  font-size: 32pt
  font-family: Sans-Serif;
}

.title-slide h3 {
  color: #000000;
  font-size: 30pt;
  font-weight: normal;
  font-family: Sans-Serif;
}

.chapter-slide {
  background-image: url("./LatinR_LOGOS-23.png"), linear-gradient(to bottom, #5542FF 1%, rgba(85, 66, 255) 95%) ;
  background-position: 10px 590px , center;
  background-size: 0px, cover ;
  font-family: Sans-Serif;
}

.chapter-slide h1 {
  position: absolute;
  top: 55%;
  left: 10%;
  text-align: left;
  color: #ECECEC;
  font-size: 34pt;
  font-family: Sans-Serif;
}

.chapter-slide h2 {
  font-size: 32pt;
  color: #ffffff ;
  font-family: Sans-Serif;
}

/* Two-column layout */
.left-column {
  width: 40%;
  float: left;
  margin-top: -30px;
}

.right-column {
  width: 58%;
  float: right;
  margin-top: -30px;
}

.pull-left {
  float: left;
  width: 47%;
  margin-top: -30px;
}
.pull-right {
  float: right;
  width: 47%;
  margin-top: -30px;
}

.remark-code, .remark-inline-code {
  font-size: 20pt;
  font-family: Sans-Serif;

}

/* adjust table horizontal spacing */
 th, td {
    padding:0 15px 0 15px;
}

table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}

table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
tr:nth-child(even) { background: #eee }
